html {
  box-sizing: border-box; /* Alternate Box Model */
}

*,
*::before,
*::after {
  box-sizing: inherit;  /* Alternate Box Model */
}

* {
  font-family: Arial, Helvetica, sans-serif;
  /* border: 1px solid red; */
}

body {
  /* font-size: 16px; */
  max-width: 730px;
  margin: 8px auto;  /* horizontal centering */
}

#index-body {
  width: 890px;
  max-width: none;
}

h1,
.links-div {
  font-family: "Courier", monospace;
  color: ivory;
  background-color: #cd5c5c;
  padding: 8px;
}

h1 {
  width: fit-content;
  /* margin-left: auto; */
  /* margin-right: auto; */
}

.pics {
  padding: 3px 0 0 3px;
}

h1, h2, h3, h4, p, ol, ul, .links-div {
  margin-left: 3px;
  margin-right: 3px;
}

ul, ol {
  padding-top: 8px;
  padding-bottom: 8px;
}

ul {
  background-color: #e19d9d;
}

ol {
  background-color: #f2d6d6;
}

#index-body ul {
  display: flex;
  list-style: none;
  background-color: white;
  padding: 0;
  margin: 1em 0;
  /* width: max-content; */
}

.button {
  display: inline-block;
  background-color: gray;
  color: white;
  text-decoration: none;
  padding: 18px;
  font-weight: 600;
}

.button:hover {
  background-color: darkslategray;
  color: white;
}

#index-body li {
  margin-left: 16px;
  margin-right: 62px;
}

#index-body #hummus-li {
  margin-right: 110px;
}
