html {
  box-sizing: border-box; /* Alternative Box Model */
  background-color:  #f9ebeb;
}

*,
*::before,
*::after {
  box-sizing: inherit;  /* Alternative Box Model */
}

* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  color: #3a3b3a;
  /* border: 1px solid red; */
}

.widget-container {
  background-color: #cd5c5c;
  padding: 8px 0;
  display: flex;
  justify-content: center;
}

.widgets {
  width: 900px;
  display: flex;
  justify-content: flex-end;
}

.youtube-logo {
  margin: 0 18px;
}

.menu-container {
  background-color: white;
  display: flex;
  justify-content: center;
}

/* ----------- FOOTER ----------- */

.menu-container.footer {
  background-color: #e19d9d;
  border: 2px solid white;
}

.all-container {
  display: flex; /* makes the whole page a flex container */
  flex-flow: column; /* each item is stacked on top of the next in one big column (the whole page) */
}

html,
body,
.all-container {
  height: 100%; /* makes that flex container fill the entire browser window */
}

.photo-grid-container {
  margin-bottom: auto; /* since the footer has a fixed height, this pushes the footer to the bottom of the all-container */
}

/* ----------- FOOTER ----------- */

.menu {
  width: 900px;
  height: 56px;
  display: flex;
  align-items: center;
}

.previous {
  margin-left: auto;
}

a {
  /* color: #3a3b3a; */
  text-decoration: none;
  font-weight: bold;
}

.logo a {
  color: white;
  font-family: 'Courier New', Courier, monospace;
  font-size: 24px; /* instead of 1.5rem bc don't want this to grow */
  padding: 30px 20px;
}

.logo {
  width: min-content;
  background-color: #3a3b3a;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo:hover {
  background-color: gray;
  /* color: white; */
}

.next a,
.previous a,
.home a {
  padding: 20px;
}

.next :hover,
.previous :hover,
.home :hover {
  color: #cd5c5c;
}

.photo-grid-container {
  display: flex;
  justify-content: center;
  margin-top: 60px;
  /* margin-bottom: 40px; */
}

.photo-grid {
  width: 900px;
  display: flex;
  justify-content: space-around;
  /* justify-content: space-between; */
  flex-wrap: wrap;
}

.photo-grid div {
  width: min-content;
  /* height: 315px; */
  padding: 8px;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.photo-grid a:hover {
  opacity: .7;
}

.photo-grid p {
  padding-top: 10px;
  padding-bottom: 2px;
}

.photo-grid a {
  /* margin-top: 20px; */
  margin: 10px 0;
}

#salad-anchor {
  margin-bottom: 20px;
}